
* body {
    margin: 0;
    padding: 0;
}
.bold, .highlight, 
.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}
.bold, .highlight {
    font-weight: 770px;
    height: 168px;
    font-size: 57px;
}
.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.paragraph {
    font-size: 18px;
    line-height: 24px;
    font-weight: 1360px;
    height: 60px;
}


.hero {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 80%;
}
.hero-image {
    padding: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 .hero-content .bad {
    color: #30b868;
width: 229px;
height: 35px;
border-radius: 1000px;
padding: 12px 8px;

background-color: #ffffff;


}

.highlight {
    color: #30b868;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background-color: #ffffff;
    border-bottom: 1px solid #eaeaee;
    position: sticky;
    top: 0;
    z-index: 1000;
    color: #333;
}
.nav-links {
    display: flex;
    gap: 20px;
    margin: 0 15px;
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}
.nav-links a {
    text-decoration: none;
    margin: 0 15px;
    color: #000000;
    font-weight: 500;
}
.btn-st {
    background-color: #2f855a;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.btn-primary {
    background-color: #30b868;
    color: white;
    padding: 16px 12px;
    font-weight: 251px;
    height: 52px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}


.btn-secondary {
    background-color: transparent;
    color: #ffffff;
    padding: 16px 12px;
    font-weight: 251px;
    height: 52px;
    border-radius: 4px;
    border: 2px solid #ffffff;
    cursor: pointer;
    font-size: 16px;
    margin-left: 20px;
}
